accelerate==0.21.0
apex
auto_mix_prep
bitsandbytes
datasets
deepspeed
dill
fairscale
huggingface_hub
jieba
jsonlines
nltk
numpy
optuna
packaging
pandas
ray
rdkit
Requests
rouge_chinese
tqdm
transformers==4.36.2
trl==0.4.7
wandb
tokenizers==0.13.0
peft==0.10.0