accelerate
apex
auto_mix_prep
bitsandbytes
datasets
deepspeed
dill
fairscale
huggingface_hub
intel_extension_for_pytorch
jieba
jsonlines
nltk
numpy
optuna
packaging
pandas
ray
rdkit
Requests
rouge_chinese
torch_xla
tqdm
transformers==4.28.1
trl
wandb